@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Minecraftia";
  src: url("../public/fonts/Minecraftia-Regular.ttf");
}

@font-face {
  font-family: "VCRosdNEUE";
  src: url("../public/fonts/VCRosdNEUE.ttf");
}

@font-face {
  font-family: "Zpix";
  src: url("../public/fonts/Zpix.ttf");
}

@font-face {
  font-family: "PixelMplus10";
  src: url("../public/fonts/PixelMplus10-Regular.ttf");
}

@font-face {
  font-family: "PixelMplus12";
  src: url("../public/fonts/PixelMplus12-Regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
body {
  color: white;
  background: black;
}
